body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  .main-font;
  text-align: center;
}
p {
  margin: 0;
}
.container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  @media @tablet-widths {
    & {
      width: 620px;
      margin: 0 auto;
      padding: 0 40px;
    }
  }
}
