body {
  .main-font;

  position: relative;
  min-width: 320px;
  margin: 0 auto;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
}

p {
  margin: 0;
}
button {
  background-color: transparent;
  &:active,
  &:focus {
    outline: none;
  }
}
picture {
  width: inherit;
}
a:active,
a:focus {
  outline: none;
}
.overflow-wrapper {
  overflow: hidden;
}
.container-mobile {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  @media @tablet-widths {
    width: 620px;
    padding: 0 40px;
  }
  @media @desktop-widths {
    position: relative;
    width: 940px;
    padding: 0 130px;
  }
}

.container-tablet {
  @media @tablet-widths {
    width: 620px;
    margin: 0 auto;
    padding: 0 40px;
  }
  @media @desktop-widths {
    width: 940px;
    margin: 0 auto;
    padding: 0 130px;
  }
}

.container-desctop {
  @media @desktop-widths {
    width: 940px;
    margin: 0 auto;
    padding: 0 130px;
  }
}
