.page-header {
  color: #ffffff;
  background: url("../img/bg-back-mobile.jpg") -190px 0 no-repeat;
  background-color: @main-bg-color;
  background-size: 700px auto;

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") -190px 0 no-repeat;
    background-color: @main-bg-color;
    background-size: 700px auto;
  }

  @media (min-width: 510px) {
    background-color: @main-bg-color;
    background-position: 0 0;
  }

  &--no-js {
    background: url("../img/bg-back-mobile.jpg") -190px 300px no-repeat;
    background-color: @main-bg-color;

    @media (min-width: 500px) {
      background: url("../img/bg-back-mobile.jpg") 0 300px no-repeat;
    }
  }

  &--with-phone {
    @media @tablet-widths {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 0;
        display: block;
        width: 700px;
        height: 550px;
        margin-left: -350px;
        background: url("../img/iphone-hand-tablet@1x.png") 0 bottom no-repeat;
        background-size: 700 auto;

        @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
          background: url("../img/iphone-hand-tablet@2x.png") 0 bottom no-repeat;
          background-size: 700px auto;
        }

        @media @desktop-widths {
          width: 1050px;
          height: 650px;
          margin-left: -400px;
          background: url("../img/iphone-hand-desktop@1x.png") 0 bottom no-repeat;
          background-size: 1050px auto;

          @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
            background: url("../img/iphone-hand-desktop@2x.png") 0 bottom no-repeat;
            background-size: 1050px auto;
          }
        }
      }
    }
  }

  @media @tablet-widths {
    position: relative;
    background: url("../img/bg-back-tablet@1x.jpg") -250px 0 no-repeat;
    background-size: 1200px auto;

    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") -250px 0 no-repeat;
      background-size: 700px auto;
    }

    @media (min-width: 930px) {
      background-position: 0 0;
    }
  }

  @media @desktop-widths {
    background: url("../img/bg-back-desktop.jpg") -560px 0 no-repeat;

    @media (min-width: 2000px) {
      background-position: 0 0;
    }
  }

  &__main-block {
    box-sizing: border-box;
    height: 66px;
    padding: 22px 0;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);

    @media @tablet-widths {
      height: 110px;
      padding: 27px 0 42px;
    }

    &--menu-opened {
      height: 69px;
      margin-bottom: 0;
      padding-bottom: 0;
      background-color: @menu-bg-color;

      @media @tablet-widths {
        height: 110px;
      }

      .container-mobile {
        padding-bottom: 22px;
      }
    }

    &--no-js {
      padding-bottom: 0;
    }

    @media @desktop-widths {
      padding-top: 0;
    }

    @media @desktop-widths {
      padding-bottom: 0;
    }

    .container-mobile {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media @desktop-widths {
        align-items: center;
        float: left;
        width: 150px;
        height: 110px;
        padding: 0;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    height: 140px;
    margin: 0 auto;
    padding: 30px 20px 0;
    font-weight: lighter;
    font-size: 24px;
    text-align: center;

    @media @tablet-widths {
      width: 600px;
      padding: 70px 0 120px;
      font-weight: lighter;
      font-size: 50px;
      line-height: 60px;
      text-align: center;
    }

    @media @desktop-widths {
      font-size: 50px;
      line-height: 60px;
    }

    &--no-js {
      height: 170px;
      margin-top: 257px;
    }

    &--menu-opened {
      padding-top: 27px;

      @media @tablet-widths {
        padding: 70px 0 120px;
      }
    }

    &--with-phone {
      box-sizing: border-box;
      height: 392px;
      padding-top: 20px;

      @media @tablet-widths {
        float: left;
        box-sizing: content-box;
        width: 300px;
        height: auto;
        margin: 95px 0 0;
        padding: 0;
        font-size: 40px;
        line-height: 50px;
      }

      @media @desktop-widths {
        margin-top: 105px;
        font-size: 50px;
        line-height: 60px;
      }

      &--no-js {
        margin-top: 257px;
      }

      &--menu-opened {
        height: 389px;

        @media @tablet-widths {
          height: auto;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: ~"calc((100% - 320px) / 2)";
        display: block;
        width: 320px;
        height: 286px;
        background: url("../img/iphone-hand-mobile.png") 0 bottom no-repeat;

        @media @tablet-widths {
          display: none;
        }

        @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
          background: url("../img/iphone-hand-mobile@2x.png") 0 bottom no-repeat;
          background-size: 320px auto;
        }
      }
    }

    &--photo {
      @media @tablet-widths {
        padding-top: 70px;
        padding-bottom: 120px;
        font-size: 50px;
        line-height: 58px;
      }
    }
  }

  & .logo {
    display: inline-block;
    margin-right: auto;
    vertical-align: bottom;
  }

  & .menu-toggle {
    display: inline-block;
    vertical-align: bottom;

    @media @desktop-widths {
      display: none;
    }
  }
}
