.benefit-block {
  background: url("../img/iphone-screen-mobile.png") center 505px no-repeat;
  .index-gray-block;
  padding-top: 80px;
  padding-bottom: 290px;
  .main-font;
  text-align: center;
  &__benefit-item {
    margin-bottom: 30px;
  }
  &__benefit-title {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
  &__benefit-descr {
    font-size: 14px;
    line-height: 24px;
  }
}
