.block-with-likes {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  .main-font;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  vertical-align: middle;
  &__like-text {
    margin-right: 4px;
  }
}
