.descr-section {
  padding: 45px 0;
  padding-bottom: 35px;
  .gray-font;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  &--short-padding {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  &__text {
    margin: 0;
  }
}
