.download-block {
  padding-top: 28px;
  padding-bottom: 20px;
  background-color: #1d2631;
  text-align: center;
  &__available-os {
    .white-font;
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    opacity: .8;
  }
}
