.form-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  &__block {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    &--gray {
      background-color: #f2f2f2;
    }
    &:not(:first-of-type) {
      padding-top: 30px;
    }
    &:last-of-type {
      align-items: center;
      padding-top: 0;
      align-self: center;
      text-align: center;
    }
  }
  &__block-descr {
    align-self: center;
    padding: 0 20px;
    margin: 5px 0 40px;
    font-size: 14px;
    line-height: 18px;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
    &--textarea {
      margin-top: 25px;
    }
  }
  &__input-list-item {
    margin-bottom: 53px;
  }
  &__text-input {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 45px;
    }
  }
  &__input-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    &--checkboxes li {
      margin-bottom: 47px;
    }
  }
  &__label {
    position: relative;
    padding-left: 70px;
    .gray-font;
    font-size: 18px;
    line-height: 30px;
    &--red-big {
      padding-left: 20px;
      margin-bottom: 5px;
      font-size: 14px;
      color: #d22856;
      text-transform: uppercase;
    }
  }
  &__textarea {
    margin-bottom: 45px;
  }
  &__block-descr + &__textarea {
    margin-top: -20px;
  }
  &__required-text {
    .gray-font;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    & sup {
      color: #d22856;
    }
  }
}
