.mention-block {
  text-align: center;
  &__user-name {
    display: block;
    margin-bottom: 15px;
    .main-font;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  &__user-text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 30px;
  }
}
.mention-block:not(:first-of-type) {
  display: none;
}
