.mention-block {
  text-align: center;
  &____user-name {
    .main-font;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  &__user-text {
    font-size: 14px;
    line-height: 30px;
  }
}
.mention-block:not(:first-of-type) {
  display: none;
}
