.nav-list {
  position: absolute;
  top: 69px;
  z-index: 10;
  display: none;
  width: 100%;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  &__menu-item {}
  &__menu-item-link {
    display: block;
    height: 63px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid black;
    .white-font;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 63px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    background-color: @menu-bg-color;
  }
}
