.price-section {
  .index-gray-block;
  padding-top: 90px;
  padding-bottom: 45px;
  text-align: center;
  overflow: hidden;
  &__options-table {
    // width: 300%;
    margin-bottom: 30px;
    transform: translateX(-258px);
  }
  &__title-table-cell {
    border-radius: 2px;
  }
  &__title-table-cell {
    // width: 100%;
    min-width: 256px;
    padding: 15px 10px;
    border: 2px solid #e5e5e5;
    border-top: none;
    border-bottom: none;
    text-align: center;
    .white-font;
    text-transform: uppercase;
    background-color: @menu-bg-color;
  }
  &__price-title {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  &__price-value {
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
  }
  &__title-table-cell:first-of-type {
    display: none;
  }
  &__title-table-cell:nth-of-type(2) {
    min-width: 258px;
    border-left: none;
  }
  &__title-table-cell:last-of-type {
    border-right: none;
  }
  &__title-table-cell--hit {
    position: relative;
  }
  &__hit-marker {
    position: absolute;
    top: 3px;
    left: 15px;
    display: block;
    width: 72px;
    height: 72px;
    margin-left: -12px;
    font-size: 14px;
    line-height: 30px;
    color: white;
    font-weight: bold;;
    font-style: normal;
    transform: rotate(-45deg);
    z-index: 1000;
  }
  &__title-table-cell--hit::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 72px;
    height: 72px;
    margin-left: -12px;
    background: url("../img/bg-hit.svg") no-repeat;
  }
  &__options-table-cell {
// width: 100%;
    min-width: 236px;
    padding: 15px 0;
    padding-left: 20px;
    border-radius: 2px;
    border: 2px solid #e5e5e5;
    border-top: none;
    text-align: left;
    background-color: white;
  }
  &__options-table-cell:first-of-type {
    display: none;
    border-top: 2px solid #e5e5e5;
  }
  &__option-title {
    display: inline-block;
    vertical-align: middle;
    width: 205px;
    text-align: left;
  }
  &__option-present {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url("../img/icon-yes.svg") right 50% no-repeat;
  }
}
