.user-post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  &:first-of-type {
    padding-left: 0;
    padding-right: 0;
    .user-post__user-text {
      margin: 0 20px;
    }
  }
  &__img {
    height: 180px;
    width: 100%;
    max-width: 280px;
  }
  &__user-text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    padding: 20px 25px 15px 20px;
    background: #f2f2f2;
  }
  &__user-name {
    margin-right: 4px;
    .main-font;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
  &__date {
    .gray-font;
    font-size: 12px;
    line-height: 24px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  &__content {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    .gray-font;
    font-size: 14px;
    line-height: 24px;
  }
  &__best-img-wrapper {
    position: relative;
    display: flex;
    & img {
      height: 137px;
      max-width: 320px;
    }
  }
  &__best-img-wrapper::after {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
    display: block;
    width: 140px;
    height: 30px;
    padding-top: 5px;
    background-color: #d22856;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}
