.svg-bg-hit {
	background: url("svg/sprite.view-e9fa4faf.svg") 0 99.58486723584242% no-repeat;
}

.svg-bg-hit-dims {
	width: 100.67px;
	height: 99.33px;
}

.svg-htmlacademy {
	background: url("svg/sprite.view-e9fa4faf.svg") 42.838297872340426% 77.05454545454546% no-repeat;
}

.svg-htmlacademy-dims {
	width: 62px;
	height: 62px;
}

.svg-logo-android {
	background: url("svg/sprite.view-e9fa4faf.svg") 77.69650482365967% 37.78377163407507% no-repeat;
}

.svg-logo-android-dims {
	width: 44.08px;
	height: 49.04px;
}

.svg-logo-apple {
	background: url("svg/sprite.view-e9fa4faf.svg") 59.608505164998604% 39.964338781575044% no-repeat;
}

.svg-logo-apple-dims {
	width: 48.21px;
	height: 58.75px;
}

.svg-logo-microsoft {
	background: url("svg/sprite.view-e9fa4faf.svg") 95.8220487494026% 36.74116168515383% no-repeat;
}

.svg-logo-microsoft-dims {
	width: 45.92px;
	height: 43.99px;
}

.svg-logo-pink-blue-desktop {
	background: url("svg/sprite.view-e9fa4faf.svg") 0 0 no-repeat;
}

.svg-logo-pink-blue-desktop-dims {
	width: 148.3px;
	height: 42.38px;
}

.svg-logo-pink-blue-mobile {
	background: url("svg/sprite.view-e9fa4faf.svg") 99.73100201748488% 0 no-repeat;
}

.svg-logo-pink-blue-mobile-dims {
	width: 148.3px;
	height: 42.38px;
}

.svg-logo-pink-white-desktop {
	background: url("svg/sprite.view-e9fa4faf.svg") 0 45.910518903694076% no-repeat;
}

.svg-logo-pink-white-desktop-dims {
	width: 148.3px;
	height: 42.38px;
}

.svg-logo-pink-white-mobile {
	background: url("svg/sprite.view-e9fa4faf.svg") 67.23489141769053% 20.965667359255963% no-repeat;
}

.svg-logo-pink-white-mobile-dims {
	width: 76.43px;
	height: 24.86px;
}

.svg-logo-pink-white-tablet {
	background: url("svg/sprite.view-e9fa4faf.svg") 0 22.955259451847038% no-repeat;
}

.svg-logo-pink-white-tablet-dims {
	width: 148.3px;
	height: 42.38px;
}

.svg-z-icon-map-marker {
	background: url("svg/sprite.view-e9fa4faf.svg") 62.802100223920945% 67.2627235213205% no-repeat;
}

.svg-z-icon-map-marker-dims {
	width: 37.98px;
	height: 37.98px;
}

